h1{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    color: rgb(0, 99, 21);
}
input{
    width: 30%;
    border-style:none;
    padding: 2%;
    background-color: rgb(215, 250, 222);
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
}