li{
    list-style: none;
}
.main{
    background-color: rgba(215, 250, 222, 0.784);
    font-size: 16px;
    width:30%;
    padding:2%;
    margin:auto;
    color:rgba(0, 0, 0, 0.909);
}
.todo-list{
    padding:0;
}