<li [ngClass]="{ editing: isEditingProps }">
    <div class="view">
      <input
        class="toggle"
        type="checkbox"
        [checked]="todoProps.isCompleted"
        (change)="toggleTodo()"
      />
      <label (dblclick)="setTodoInEditMode()">{{ todoProps.text }}</label>
      <mat-icon class="close-btn" (click)="removeTodo()">close</mat-icon>
    </div>
    <ng-container *ngIf="isEditingProps">
      <input
        class="edit"
        #textInput
        [value]="editingText"
        (keyup)="changeText($event)"
        (keyup.enter)="changeTodo()"
      />
    </ng-container>
  </li>