/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 10px auto;
     font-family: 'Comfortaa', cursive;
     text-align: center;
    //  color: rgb(0, 99, 21);
    }
    
